@import "../../common/variable";

.user-top {
  height: 240rpx;
  .bg-img {
    width: 100%;
    height: 100%;
  }

  .user-info {
    top: 50%;
    left: 20rpx;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    .user-img {
      width: 80rpx;
      height: 80rpx;
      margin-right: 20rpx;
    }
  }

  .xiubi {
    width: 94%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

//.user-canvas {
//  width: 100%;
//}

.user-operation {
  .bgfff {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .user-o-item {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    image {
      width: 46rpx;
    }
  }
}
