.user-name, .shop-img {
  display: flex;
  align-items: center;
  margin-top: 1rpx;
}
.shop-img {
  justify-content: space-between;
  image {
    width: 48rpx;
    height: 48rpx;
  }
}

.save  {
  background-color: #fff;
  line-height: 80rpx;
  font-size: 28rpx;
}

.up-img {
  @width: 200rpx;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  image {
    width: @width;
    height: @width;
    margin: 10rpx;
  }
  .up-btn {
    display: inline-block;
    margin: 10rpx;
    width: @width;
    height: @width;
    border: 2rpx dashed #bbb;
    position: relative;
    &:before {
      font-size: 100rpx;
      position: absolute;
      top: 50%;
      left: 50%;
      color: #bbb;
      transform: translate(-50%, -50%);
    }
  }

  .up-progress {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: @width;
    height: @width;
    .tac {
      padding: 2rpx 6rpx;
      border-radius: 20rpx;
      background-color: #eee;
    }
  }
}